<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials :: head('create')"></head>
<body>
<nav th:replace="partials/partials :: nav"></nav>
<header th:replace="partials/partials :: header('Create a Post')"></header>

<main class="container">
<!--    <form th:action="@{/posts/create}" th:method="POST">-->
<!--        &lt;!&ndash;            input for title&ndash;&gt;-->
<!--        <input type="text" name="title" placeholder="Title" class="form-control">-->
<!--        &lt;!&ndash;            input for body&ndash;&gt;-->
<!--        <textarea type="text" name="body" placeholder="Body" class="form-control"></textarea>-->
<!--        &lt;!&ndash;            submit button&ndash;&gt;-->
<!--        <button type="submit" class="btn btn-primary">Create Post</button>-->
<!--    </form>-->
    <form th:action="@{/posts/create}" th:method="POST" th:object="${post}">
        <input th:field="*{title}" class="form-control"/>
        <input th:field="*{body}" class="form-control"/>
        <button type="submit" class="btn btn-primary">Create Post</button>
    </form>
</main>

<footer th:replace="partials/partials :: footer"></footer>
<th:block th:replace="partials/partials :: scripts"></th:block>
</body>
</html>